<div class="relative flex min-h-screen w-full flex-col" id="sort-root" data-image-id="{{ image_id }}">
    {% include 'components/navbar.html' %}
    <main class="flex-1">
        <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8 py-8 sm:py-12">
            <div class="flex flex-col gap-8">
                <div
                    class="rounded-xl border border-border-light dark:border-border-dark bg-card-light dark:bg-card-dark p-6 shadow-sm">
                    <div class="flex flex-col gap-3">
                        <p class="text-4xl font-black leading-tight tracking-[-0.033em]">Sort</p>
                        <p
                            class="text-base font-normal leading-normal text-text-secondary-light dark:text-text-secondary-dark">
                            Here you will sort the hieroglyphes.
                        </p>
                    </div>
                </div>
                <div
                    class="rounded-lg border border-dashed border-border-light dark:border-border-dark bg-background-light/60 dark:bg-background-dark/60 p-6 text-sm text-text-secondary-light dark:text-text-secondary-dark">
                    <p class="font-semibold mb-2">!! TODO !!</p>
                    <ul class="list-disc space-y-1 pl-5">
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>